<div 
  data-scores-project="<%= score.project.id %>">
  data-scores-impact="<%= score.impact_score %>">
  data-scores-effort="<%= score.effort_score %>">
  data-scores-uuid="<%= score.uuid %>">
</div>
