<footer class="footer mt-auto bg-light">
  <div class="text-end p-3">
    <a class="text-black" href="https://discuss.orochena.net" target="_blank">Feedback</a>
    •
    <a class="text-black" href="https://github.com/morochena/psquare" target="_blank">GitHub</a>
  </div>
</footer>
